#modules
node_modules

#my-ideas
*.old
*.idea
/commands/test.js
/commands/sleeping.js

#sensitive
config.json
package-lock.json
/commands/*.json
/data/

#backup/old-stuffs/etc
/commands/commands-bak
/images/
*.rar
