#modules
node_modules/
*.rar

#linux-stuff
*.deb
*.tar.gz
*.sh

#my-ideas
*.old
*.idea
/commands/Owner/test.js

#sensitive
config.json
package-lock.json
yarn.lock
/data/
/assets/*.json
/images/

#misc
/commands/canvas/
