{
  "token": "your_super_secret_token",
  "prefix": "your_super_cool_prefix",
  "botID": "364242246314360843",
  "ownerID": "your_super_long_ID",
  "googleAPI": "your_super_secret_google_token",
  "gSEID": "your_google_search_engine_ID",
  "client_id": "your_super_secret_gfycat_id",
  "client_secret": "your_super_secret_gfycat_token"
}